<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar informações do aluno</title>
</head>
<body>
<h3>
    Editar informações do Aluno
</h3>
<form action="/aluno/editar/{{ data.id }}" method="post">
    <label for="name">Ensira seu nome:</label><br>
    <input type="text" placeholder="digite seu nome" name="name" id="name" value="{{ data.name }}">
    <input type="hidden" value="{{ data.id }}" name="id">
    <br><br>
    <label for="year">Escolha uma série:</label>
    <select name="year" id="year">
        <option value=""></option>
        <option value="data.year" {% if data.year == "9 Ano" %} selected="selected" {% endif %}>9 Ano </option>
        <option value="data.year" {% if data.year == "1 Ano" %} selected="selected" {% endif %}>1 Ano </option>
        <option value="data.year" {% if data.year == "2 Ano" %} selected="selected" {% endif %}>2 Ano </option>
        <option value="data.year" {% if data.year == "3 Ano" %} selected="selected" {% endif %}>3 Ano </option>
    </select>
    <br><br>
    <input type="submit" value="enviar"/>
</form>
<br>
<a href="/aluno">Retornar guia</a>
</body>
</html>