<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aluno</title>
</head>

<body>
<h3>
    Criar aluno
</h3>
<table>
    <tr>
        <th>
            id do aluno
        </th>
        <th>
            Nome
        </th>
        <th>
            Ano Escolar
        </th>
        <th>
            <form action="http://127.0.0.1:5000/aluno/edit">
                <input type="submit" value="editar"/>
            </form>
        </th>
        <th>
            <form action="">
                <input type="submit" value="excluir"/>
            </form>
        </th>
    </tr>
    <tr>
        {% for student in data %}
        <td>

        <td>
        </td>
        {% endfor %}
        </td>
    </tr>
</table>
</body>
</html>

