<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Aluno</title>
</head>
<body>
<h3>
    Cadastrar Aluno
</h3>
<form action="/aluno/criar/salvar" method="post">
    <input type="text" placeholder="digite seu nome" name="name" id="name">
    <br><br>
    <label for="school_year">Escolha uma série:</label>
    <select name="school_year" id="school_year">
        <option value=""></option>
        <option value="9 Ano">9 Ano</option>
        <option value="1 Ano">1 Ano</option>
        <option value="2 Ano">2 Ano</option>
        <option value="3 Ano">3 Ano</option>
    </select>
    <br><br>
    <input type="submit" value="enviar"/>
</form>
<br>
<a href="/aluno">
    Retornar guia
</a>
</body>
</html>