<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabela de Alunos</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 2px solid #000000;
  text-align: center;
  padding: 8px;
}
    </style>
</head>
<body>
<h3>
    Tabela de Alunos
</h3>
<form action="/aluno/criar">
    <input type="submit" value="criar"/>
</form>
<table>
    <tr>
        <th>
            id do aluno
        </th>
        <th>
            Nome
        </th>
        <th>
            Ano Escolar
        </th>
        <th>
            Editar
        </th>
        <th>
            Excluir
        </th>
    </tr>
    {% for student in data %}
    <tr>
        <td>
            {{ student.0 }}
        </td>
        <td>
            {{ student.1 }}
        </td>
        <td>
            {{ student.2 }}
        </td>
        <td>
            <form action="/aluno/editar/{{ student.0 }}">
                <input type="submit" value="editar"/>
            </form>
        </td>
        <td>
            <form action="/aluno/deletar/{{ student.0 }}">
                <input type="submit" value="excluir"/>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>

