<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabela de professor</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 2px solid #000000;
  text-align: center;
  padding: 8px;
}

</style>
</head>
<body>

<h2>Professores Tabela</h2>
<h3>
    <a href="/professor/criar">criar professor</a>
</h3>

<table>
  <tr>
    <th>Id</th>
    <th>name</th>
    <th>serie</th>
    <th>editar</th>
    <th>deletar</th>
  </tr>
    {% for professor in data %}
    <tr>
        <td>{{ professor.0 }}</td>
        <td>{{ professor.1 }}</td>
        <td>{{ professor.2 }}</td>
        <td><a href="/professor/editar/{{ professor.0 }}">editar</a></td>
        <td><a href="/professor/deletar/{{ professor.0 }}">deletar</a></td>
    </tr>
    {% endfor %}
</table>

</body>
</html>