<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar_professor</title>
</head>
<body>
<h3>
    Editar informacoes do Professor
</h3>
<form action="/professor/editar/{{data.id}}" method="post">
    <input type="text" placeholder="digite nome do profissional" name="name" value="{{ data.name }}">
    <input type="hidden" value="{{data.id}}" name="id">
    <br><br>
    <label for="serie">Escolha o ano desejado:</label>
    <select name="serie" id="serie">
        <option value=""></option>
        <option value="9 Ano " {% if data.serie == "9 Ano" %} selected="selected" {% endif %}>9 Ano </option>
        <option value="1 Ano " {% if data.serie == "1 Ano" %} selected="selected" {% endif %}>1 Ano  </option>
        <option value="2 Ano " {% if data.serie == "2 Ano" %} selected="selected" {% endif %}>2 Ano  </option>
        <option value="3 Ano " {% if data.serie == "3 Ano" %} selected="selected" {% endif %}>3 Ano  </option>
    </select>
    <br><br>
    <input type="submit" value="Enviar">
</form>
</body>
</html>