<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar notas do aluno</title>
</head>
<body>
<h3>
    Editar notas do aluno
</h3>
<form action="/nota/editar/salvar/{{ data.0 }}" method="post">
    <label for="score">Ensira a nota do aluno:</label><br>
    <input type="text" placeholder="digite a nota do aluno" name="score" id="score" value="{{ data.1 }}">
    <input type="hidden" value="{{ data.0 }}" name="id">
    <br><br>
    <label for="topic">Escolha uma matéria:</label>
    <select name="topic" id="topic">
        <option value=""></option>
        <option value="matemática" {% if data[2] == "matemática" %} selected="selected" {% endif %}>matemática </option>
        <option value="português" {% if data[2] == "português" %} selected="selected" {% endif %}>português </option>
        <option value="história" {% if data[2] == "história" %} selected="selected" {% endif %}>história </option>
        <option value="Filosofia" {% if data[2] == "Filosofia" %} selected="selected" {% endif %}>Filosofia </option>
        <option value="ciências" {% if data[2] == "ciências" %} selected="selected" {% endif %}>ciências </option>
        <option value="Sociologia" {% if data[2] == "Sociologia" %} selected="selected" {% endif %}>Sociologia </option>
        <option value="Geografia" {% if data[2] == "Geografia" %} selected="selected" {% endif %}>Geografia </option>
    </select>
    <br><br>
    <input type="submit" value="enviar"/>
</form>
<br>
<a href="/nota">Retornar guia</a>
</body>
</html>l>