<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar notas do aluno</title>
</head>
<body>
<h3>
    Editar notas do aluno
</h3>
<pre>

</pre>

<form action="/nota/editar/salvar/{{ data.nota.0 }}" method="post">
    <label for="score">Ensira a nota do aluno:</label><br>
    <input type="text" placeholder="digite a nota do aluno" name="score" id="score" value="{{ data.nota.2 }}">
    <input type="hidden" value="{{ data.nota.0 }}" name="id">
    <br><br>
    <label for="topic">Escolha uma matéria:</label>
    <select name="topic" id="topic">
        <option value=""></option>
        <option value="matemática" {% if data.nota[3] == "matemática" %} selected="selected" {% endif %}>matemática </option>
        <option value="português" {% if data.nota[3] == "português" %} selected="selected" {% endif %}>português </option>
        <option value="história" {% if data.nota[3] == "história" %} selected="selected" {% endif %}>história </option>
        <option value="filosofia" {% if data.nota[3] == "filosofia" %} selected="selected" {% endif %}>filosofia </option>
        <option value="ciências" {% if data.nota[3] == "ciências" %} selected="selected" {% endif %}>ciências </option>
        <option value="sociologia" {% if data.nota[3] == "sociologia" %} selected="selected" {% endif %}>sociologia </option>
        <option value="geografia" {% if data.nota[3] == "geografia" %} selected="selected" {% endif %}>geografia </option>
    </select>
    <br><br>
    <select name="id_aluno" id="id_aluno">
        <option value=""></option>
        {% for aluno in data.alunos %}
        <option value="{{ aluno.0 }}"{% if aluno[0] == data.nota.1 %} selected="selected" {% endif %}>{{aluno.1}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="enviar"/>
</form>
<br>
<a href="/nota">Retornar guia</a>
</body>
</html>