<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar nota</title>
</head>
<body>
<h3>
    Criar nota
</h3>
<form action="/nota/criar/salvar" method="post">
    <input type="text" placeholder="digite a nota ex:6.5" name="score">
    <br><br>
    <label for="topic">Escolha qual matéria deseja:</label>
    <select name="topic" id="topic">
        <option value="matematica">matematica</option>
        <option value="portugues">portugues</option>
        <option value="historia">historia</option>
        <option value="ciencias">ciencias</option>
        <option value="filosofia">filosofia</option>
        <option value="sociologia">sociologia</option>
        <option value="geografia">geografia</option>
    </select>
    <br><br>
    <select name="id_aluno" id="id_aluno">
        <option value="">Selecione o aluno</option>
        {% for college in data.college %}
            <option value="{{college.id}}">{{college.name}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Enviar cadastro">
</form>
</body>
</html>