<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Score</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 2px solid #000000;
  text-align: center;
  padding: 8px;
}
    </style>

</head>
<body>
<h2>Notas Tabela</h2>
<h3>
    <a href="/nota/criar">criar nota</a>
</h3>
<table>
    <tr>
    <th>Id</th>
    <th>Nome do aluno</th>
    <th>score</th>
    <th>materia</th>
    <th>editar</th>
    <th>deletar</th>
  </tr>
    {% for score in data.score %}
    <tr>
        <td>{{ score.id }}</td>
        <td>
            {% for college in data.college %}
                {% if college.id == score.id_aluno %}
                    {{ college.name }}
                {% endif %}
            {% endfor %}
        </td>
        <td>{{ score.score }}</td>
        <td>{{ score.topic }}</td>
        <td><a href="/nota/editar/{{ score.id }}">editar</a></td>
        <td><a href="/nota/deletar/{{ score.id }}">deletar</a></td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="/">
    Retornar guia
</a>
</body>
</html>