<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar notas do aluno</title>
</head>
<body>
<h3>
    Editar notas do aluno
</h3>
<pre>

</pre>
{{data.score.topic}}
<form action="/nota/editar/{{ data.score.id }}" method="post">
    <label for="score">Ensira a nota do aluno:</label><br>
    <input type="text" placeholder="digite a nota do aluno" name="score" id="score" value="{{ data.score.score }}">
    <input type="hidden" value="{{ data.score.id }}" name="id">
    <br><br>
    <label for="score.topic">Escolha uma matéria:</label>
    <select name="topic" id="score.topic">
        <option value=""></option>
        <option value="matematica" {% if data.score.topic == "matematica" %} selected="selected" {% endif %}>matematica </option>
        <option value="portugues" {% if data.score.topic == "portugues" %} selected="selected" {% endif %}>português </option>
        <option value="historia" {% if data.score.topic == "historia" %} selected="selected" {% endif %}>historia </option>
        <option value="filosofia" {% if data.score.topic == "filosofia" %} selected="selected" {% endif %}>filosofia </option>
        <option value="ciencias" {% if data.score.topic == "ciencias" %} selected="selected" {% endif %}>ciencias </option>
        <option value="sociologia" {% if data.score.topic == "sociologia" %} selected="selected" {% endif %}>sociologia </option>
        <option value="geografia" {% if data.score.topic == "geografia" %} selected="selected" {% endif %}>geografia </option>
    </select>
    <br><br>
    <select name="id_aluno" id="id_aluno">
        <option value=""></option>
        {% for college1 in data.college %}
        <option value="{{ college1.id }}"{% if college1.id == data.score.id_aluno %} selected="selected" {% endif %}>{{college1.name}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="enviar"/>
</form>
<br>
<a href="/nota">Retornar guia</a>
</body>
</html>