<!DOCTYPE html>
import sqlite3
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar nota</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 2px solid #000000;
  text-align: center;
  padding: 8px;
}
    </style>
</head>
<body>
<h3>
    Criar nota
</h3>
<form action="/nota/criar/salvar" method="post">
    <input type="text" placeholder="digite a materia" name="score">
    <br><br>
    <label for="topic">Escolha qual nota deseja:</label>
    <select name="topic" id="topic">
        <option value="1">1</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <br><br>
    <input type="submit" value="Enviar cadastro">
</form>
</body>
</html>