<!DOCTYPE html>
import sqlite3
conn = sqlite3.connect("system.db")
c = conn.cursor()
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar nota</title>
</head>
<body>
<h3>
    Criar nota
</h3>
<form action="/nota/criar/salvar" method="post">
    <input type="text" placeholder="digite a nota ex:6.5" name="score">
    <br><br>
    <label for="topic">Escolha qual matéria deseja:</label>
    <select name="topic" id="topic">
        <option value="Matemática">Matemática</option>
        <option value="Português">Português</option>
        <option value="História">História</option>
        <option value="Ciências">Ciências</option>
        <option value="Filosofia">Filosofia</option>
        <option value="Sociologia">Sociologia</option>
        <option value="Geografia">Geografia</option>
    </select>
    <br><br>
    <select name="id_aluno" id="id_aluno">
        <option value="1">João</option>
        <option value="2">Breno Aguiar</option>
    </select>
    <input type="submit" value="Enviar cadastro">
</form>
</body>
</html>